@import "settings";
@import "foundation";
@import "syntax_highlighting";

body {
	background-image: url("/assets/images/metal_m_bg.png");
}

header.site-header {
	background-color: $silver;
	border-bottom: 1px solid $aluminum;
}

footer.site-footer {
	background-color: $gainsboro;
	border-top: 1px solid $aluminum;
	font-size: rem-calc(13);
	color: $oil;
	padding: 10px 0;
}

#main {
	width: 100%;
	overflow: hidden;
	margin: 40px 0 0;
}

article {
	background: none scroll 0% 0% $silver;
	padding: 35px 0 10px 0;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid $aluminum;
	border-radius: 6px;

	h1, h2, h3, h4, h5, h6, p, div {
		margin: 15px;
	}

	h1, h2, h3 {
		font-weight: 900;
	}

	h4, h5, h6 {
		font-weight: 700;
	}

	h4.post-date {
		font-size: rem-calc(13);
		font-weight: 300;
		color: $aluminum;
		margin: 15px 0 5px 0;
	}

	a.more {
		font-size: rem-calc(13);
		font-weight: 300;
		margin: 15px 0 5px 0;
	}
}

article > header {
	margin: 0 15px;
	font-size: rem-calc(30);
	font-weight: 700;
}


aside {
	background: none scroll 0% 0% $silver;
	padding: 15px 0 10px 0;
	overflow: hidden;
	border: 1px solid $aluminum;
	border-radius: 6px;

	h1, h2, h3, h4, h5, h6, p, div {
		margin: 0 15px;
	}

	h5 {
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 10px;
		border-bottom: 1px solid $iron;
	}

	img {
		border-radius: 2px;
		float: left;
		vertical-align: text-top;
		margin-right: 5px;
	}

	p {
		font-size: rem-calc(13);
		margin-left: 0px;
	}
}

// Navigation settings

@media only screen and (min-width: 640px) {

	.top-bar {
		min-height: rem-calc(80);
		background: none;
		margin-top: 20px;

		.top-bar-section > ul > li {
			background: none;
			margin-right: 10px;

			a {
				border-radius: 3px;
			}
		}
		.top-bar-section > ul > li:last-child {
			background: none;
			margin-right: 0px;
		}
	}
}

@media only screen and (max-width: 639px) {

	.top-bar {
		background: none;
		margin-top: 10px;

		.top-bar-section > ul > li {
			background: none;

			a {
				border-radius: 3px;
			}
		}
	}
}
// Pagination

.pagination-centered {
	background: none scroll 0% 0% $silver;
	padding: 10px 0 10px 0;
	overflow: hidden;
	border: 1px solid $aluminum;
	border-radius: 6px;

	ul {
		margin-bottom: 0;
	}
}

// Syntax highlighting

.highlight {
	background-color: $iron;
	margin: 15px;
	padding: 10px;
	@include radius(4px);
	-webkit-box-shadow: inset 1px 1px 5px 0px rgba(51,51,51,1);
	-moz-box-shadow: inset 1px 1px 5px 0px rgba(51,51,51,1);
	box-shadow: inset 1px 1px 5px 0px rgba(51,51,51,1);

	code {
		font-size: rem-calc(12);
		padding: 0;
		background: none;
		border: none;

	}
}


