---
layout: default
---

<div class="row">
	<div id="content" class="columns large-9">

		{% for post in paginator.posts %}
			<article>
				<header>{{ post.title }}</header>
				<p>{{ post.excerpt }}</p>
				<div class="row">
					<div class="columns large-5"><h4 class="post-date">{{ post.date | date: "%d.%m.%Y" }} in {{ post.categories }}</h4></div>
					<div class="columns large-5"><a class="more right" href="{{ post.url }}">Weiter ...</a></div>
				</div>
			</article>
		{% endfor %}

		<!-- Pagination bar -->

		<div class="pagination-centered">
			<ul class="pagination">
			{% if paginator.previous_page %}
				<li class="arrow"><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
			{% else %}
				<li class="arrow unavailable"><a href="">&laquo;</a></li>
			{% endif %}
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<li class="current"><a href="">{{ page }}</a></li>
				{% elsif page == 1 %}
					<li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
				{% else %}
				  <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
				{% endif %}
			{% endfor %}
			{% if paginator.next_page %}
				<li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
			{% else %}
				<li class="arrow unavailable"><a href="">&raquo;</a></li>
			{% endif %}
			</ul>
		</div>


	</div>

	{% include sidebar.html %}
</div>




  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
