<div class="columns large-3">
	<aside>
		{% for category in site.categories %}
			<h5>{{ category | first }}</h5>
			<ul>
				{% for posts in category %}
					{% for post in posts %}
						{% if posts.first %}
							<li style="list-style: none;">
								<a href="{{ post.url }}">{{ post.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		{% endfor %}
	</aside>
</div>
