<footer id="footer" class="site-footer">

  <div class="row">
	  <div class="columns large-12">
		  &copy; 2015 by <a href="mailto:{{ site.email }}">Klaus Humme</a> under the terms of the MIT-License
	  </div>
  </div>

</footer>
<script type="text/javascript" src="/bower_components/foundation/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/bower_components/foundation/js/foundation.min.js"></script>
<script type="text/javascript" src="/assets/js/application.js"></script>
