<header class="site-header">
  <div class="row">
	  <div class="large-12 columns">
		  <nav class="top-bar" data-topbar>
			  <ul class="title-area">
				  <!-- Title Area -->
				  <li class="name"><a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/images/logo-s.png"></a></li>
				  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			  </ul>
			  <!-- Navigation Area -->
			  <section class="top-bar-section">
				  <ul class="right">
					  {% for p in site.pages %}
					    {% if p.title %}
					      <li {% if p.url == page.url %} class="active"{% endif %} >
						      <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
					      </li>
					    {% endif %}
					  {% endfor %}
				  </ul>
			  </section>
		  </nav>
	  </div>
  </div>
</header>
