<div class="columns large-3">
	<aside>
		<div><img src="/assets/images/klaus.png">
			<p>Hey, der da links, das bin ich, Klaus, der Betreiber dieses Blogs!
				Ich baue Webseiten seit mittlerweile über 20 Jahren und
				möchte Euch an meinen Erkenntnissen teilhaben lassen.
				Mehr Infos findet Ihr unter <a href="/about">Über diesen Blog!</a>
			</p>
		</div>
		<h5>Folgt mir ...</h5>
		<ul>
			<li style="list-style: none;">
				<p>zum Beispiel <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
			</li>
			<li style="list-style: none;">
				<p>oder bei <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></p>
			</li>
			<li style="list-style: none;">
				<p>oder bei <a href="http://bitbucket.org/{{ site.github_username }}" target="_blank">Bitbucket</a></p>
			</li>
		</ul>
		<h5>Neueste Beiträge</h5>
		<ul>
			{% for post in site.posts limit: 5 %}
			<li style="list-style: none;">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</aside>
		<div style="padding-top: 10px;">
			<a class="twitter-timeline"  href="https://twitter.com/klaus_21x2" data-widget-id="572003008301780992">Tweets von @klaus_21x2 </a>
			<script>
				!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
					if(!d.getElementById(id)){
						js=d.createElement(s);
						js.id=id;
						js.src=p+"://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js,fjs);
					}
				}
				(document,"script","twitter-wjs");
			</script>
		</div>

</div>
