---
layout: default
---
<section class="show-for-medium-up">
	<div class="row">
		<div class="columns large-9">
			<article>
				{% for post in site.posts %}
					<header><a href="{{ post.url }}">{{ post.title }}</a></header>
					<div><h4 class="post-date">{{ post.date | date: "%d.%m.%Y" }} in {{ post.categories }}</h4></div>
				{% endfor %}
			</article>
		</div>

		{% include archive.html %}

	</div>
</section>

<section class="show-for-small">
	<div class="row">
		<div class="columns small-12">
			<select onchange="if (this.value) window.location.href=this.value">
				<option value="">Beiträge ...</option>
				{% for category in site.categories %}
					<optgroup label="{{ category | first }}">
						{% for posts in category %}
							{% for post in posts %}
								{% if posts.first %}
									<option value="{{ post.url }}">{{ post.title }}</option>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</optgroup>
				{% endfor %}
			</select>

			{% for post in site.posts %}
				<article>
					<h4>{{ post.title }}</h4>
					<h6>{{ post.date | date: "%d.%m.%Y" }}</h6>
					{{ post.excerpt }}
					<div style="text-align: right;"><a href="{{ post.url }}">Weiter ...</a></div>
					<div class="bar"></div>
				</article>
			{% endfor %}
		</div>
	</div>
</section>
