<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      <div id="page" class="row">
	      <div class="columns large-12 medium-12 small-12">
		      <div id="main">
            {{ content }}
		      </div>
        </div>
      </div>

    {% include footer.html %}

  </body>

</html>
