---
layout: default
---
<div class="row">
	<div id="content" class="columns large-9">
		<article>
		  <header>{{ page.title }}</header>
	    {{ content }}
	  </article>
	</div>

	{% include sidebar.html %}

</div>
