---
layout: default
---
<section class="show-for-medium-up">
	<div class="row">
		<div class="columns large-9">
			<article>
				<header>{{ page.title }}</header>
				{{ content }}
			</article>
			<article>
				{% include comments.html %}
			</article>
		</div>

		{% include archive.html %}
	</div>
</section>


<section class="show-for-small">
	<div class="row">
		<div class="columns small-12">
			<select onchange="if (this.value) window.location.href=this.value">
				<option value="">Beiträge ...</option>
				{% for category in site.categories %}
				<optgroup label="{{ category | first }}">
					{% for posts in category %}
						{% for post in posts %}
							{% if posts.first %}
								<option value="{{ post.url }}">{{ post.title }}</option>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>

			<article>
				<header>{{ page.title }}</header>
				{{ content }}
			</article>
		</div>
	</div>
</section>
